@import '../index.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 34px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-light-color;
    font-weight: bolder;
    text-transform: uppercase;
    a{
        color: $text-light-color;
        text-decoration: none;
    }
}